<body>
<script>
    mui.back = function(){
      mui.toast("请等确认支付结果！");
      return false;
   }
    mui(function(){
     
        mui.confirm("确认您的支付结果！","",["确认支付","查看我的订单"],function(o){
            if(o.index==1){
                location.href="<?=site_url('order/my_order/0')?>";   
            }else{
                hui.loading("正在获取...");
                mui.ajax('<?=site_url("payment/get_order")?>',{
                    data:{order_code:"<?=$order_code?>"},
                    dataType:'json',//服务器返回json格式数据
                    type:'get',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
                    success:function(res){
                        hui.closeLoading(function(){
                            if(res.code===200){
                                pay(res.order);
                            }else{
                                mui.toast("网络发生错误,请重新获取！", {duration: '2000ms',type: 'div'});
                            }
                        });
                    },
                    error:function(xhr,type,errorThrown){
                        //异常处理；
                        mui.toast("网络发生错误！", {duration: '2000ms',type: 'div'});
                    }
                });
            }
        },'div')
        function pay(order){
            var state=order.state;
            
            if(state==="1"){
                location.href="<?=site_url('order/my_order/0')?>";   
            }else if(state==="3"){
                mui.confirm("您的订单还没有支付！","",['重新支付',"放弃支付"],function(o){
                    if(o.index==1){
                        location.href="<?=site_url('order/my_order/0')?>";
                    }else{
                        location.href="<?=site_url('payment/pay/').$order_code?>";
                    }
                },'div')
            }
        }
    }) 
  </script>
