<body id="my-intergral-no">
	<div style="background: #f6f6f6;width: 100%;height: 100vh;">
		<div class="comodity-list-top">
			<span class="finish-text">积分说明</span>
		</div>
		<div class="title-show title-show">
			<span class="iconfont icon-wodejifen"></span>
			<!-- <img src="images/list/order-taking_03.png" > -->
			<p>中自汽车</p>
			<p><?=$user['integral']?>分</p>
		</div>
		<div class="nolist-div">
			<span class="iconfont icon-pintu"></span>
			<p>积分商城建设中，敬请期待！</p>
		</div>
	</div>
	
	
